body{
  background-color: #02010a;/* IDEA: color de fondo de toda la pagina */
  font-family: 'Dancing Script', cursive; /* IDEA: tipo de letra */
  width: 900px; /* IDEA: ancho fijo para version de la escritorio */
  margin-left: auto;/* IDEA: centrar todo el body */
  margin-right: auto;/* IDEA: centrar todo el body */
}
.contenido h1 {
  margin-top: 0px;
	margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #5b7989;/* IDEA: color de fondo del titulo */
  color: white;
  text-align: left;
  text-shadow: 2px 2px #02010a;/* IDEA: sombra de titulo */
  border-radius: 10px 10px 0px 0px;/* IDEA: bordes de caja */
}
.contenido{
  background-color: #82c3a6;
  border-radius: 10px 10px 0px 0px;
}
.imagen_central img {/* IDEA: centrar la imagen1 */
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  box-shadow: 2px 2px 2px #02010a;
}
a{
  text-align: center;
  text-decoration: underline;
}
.imagenes_secundarias{
  background-color: #d5c75f;
}
.paisajes {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  display: block;
  width: 90%;
  box-shadow: 2px 2px 2px #02010a;
}
.retratos{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  display: block;
  width: 90%;
  box-shadow: 2px 2px 2px #02010a;
}
.imagenes_secundarias{/* IDEA: codigo para hacer dos columnas */
  display: flex;
}
.imagenes_secundarias > div{/* IDEA: codigo para hacer dos columnas */
  width: 50%;
  padding: 10px;
}
/* IDEA: .columnas > div:first-child{
  margin-right: 20px;
} */

article{
  padding-top: 1%;
  padding-bottom: 1%;
}
@media screen and (min-width:900px){/* IDEA: query para adaptar a tama;os de pantalla */
  body{
    width: 900px;
  }
}
@media screen and (max-width:899px){
  body{
    width: 100%;
  }
  .imagenes_secundarias{
    flex-direction: column;
  }
  .paisajes , .retratos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: block;
    width: 90%;
  }
