body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}
div h1 {
  margin-top: 0px;
	margin-left: 0px;
  background-color: #5b7989;
  color: white;
  text-align: left;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
}

nav{
  background-color: red;
}
